.bg-sign-in{
    background: #282633;
}

.form-outline .form-control ~ .form-label{
    color: #747180;
}

.mdb-tab-style{
    background-color: #806cf5;
    color: #fff;
}

.input-style{
    margin-bottom: 30px;
}