<div class="history-page">
    <app-side-nav></app-side-nav>
    <div class="history-body">
        <div class="historyList-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card table-nowrap table-card">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead class="small text-uppercase text-white">
                                    <tr>
                                        <th>Email</th>
                                        <th>PhoneNumber</th>
                                        <th>Skin</th>
                                        <th>Data</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (transactionCard of transactionsList$(); track transactionCard) {
                                        <tr class="align-middle text-white bg-color">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img [src]="transactionCard.user.avatar" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                                                    <div>
                                                        <div class="h6 mb-0 lh-1">{{transactionCard.user.email}}</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{transactionCard.user.phoneNumber}}</td>
                                            <td> <span class="d-inline-block align-middle">{{transactionCard.skin.name}}</span></td>
                                            <td><span>{{transactionCard.createdDate.toLocaleString()}}</span></td>
                                            <td>{{transactionCard.skin.priceWithDiscount}} $</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
