<div class="buy-page-main">
    <div class="buy-page-filters">
        <div class="buy-page-wrapper-filters">
            <div class="buy-page-wrapper-filters-title">
                <span class="filters-title">Фильтры</span>
            </div>
            <div class="horizontal-line"></div>
            <div class="buy-page-filters-inner">
                <div class="styles-wrapper">
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Сохр. фильтры
                                    </span>
                                </div>
                                <div class="count-filters">
                                    0
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Цена
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus" (click)="onChangedSubmenuList('price')">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                  @if (showSubmenuList$().includes('price')) {
                    <div class="skinPrice">
                      <form class="skinPrice-form">
                        <input type="text" class="skinPrice-input" placeholder="Br 0.00">
                      </form>
                      <div class="skinPrice-delimiter">
                      </div>
                      <form class="skinPrice-form">
                        <input type="text" class="skinPrice-input" placeholder="Br ∞">
                      </form>
                    </div>
                  }
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Тип
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus" (click)="onChangedSubmenuList('type')">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                  @if (showSubmenuList$().includes('type')) {
                    <div class="skinType">
                        <ul class="skinType-list">
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="Knifes"
                                [checked]="false"
                              />
                              <label class="" for="Knifes">Ножи</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="Gloves"
                                [checked]="false"
                              />
                              <label class="" for="Gloves">Перчатки</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="Pistols"
                                [checked]="false"
                              />
                              <label class="" for="Pistols">Пистолеты</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="SMGs"
                                [checked]="false"
                              />
                              <label class="" for="SMGs">ПП</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="AssaultRifles"
                                [checked]="false"
                              />
                              <label class="" for="AssaultRifles">Штурмовые винтовки</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="SniperRifles"
                                [checked]="false"
                              />
                              <label class="" for="SniperRifles">Снайперские винтовки</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="ShotGuns"
                                [checked]="false"
                              />
                              <label class="" for="ShotGuns">Дробовики</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="MachineGuns"
                                [checked]="false"
                              />
                              <label class="" for="MachineGuns">Пулеметы</label>
                            </li>
                        </ul>
                    </div>
                  }
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Качество
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus" (click)="onChangedSubmenuList('quality')">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                  @if (showSubmenuList$().includes('quality')) {
                    <div class="skinQuality">
                        <ul class="skinQuality-list">
                            <li class="skinQuality-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="factoryNew"
                                [checked]="false"
                              />
                              <label class="" for="factoryNew">Прямо с завода</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="minimalWear"
                                [checked]="false"
                              />
                              <label class="" for="minimalWear">Немного поношенное</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="fieldTested"
                                [checked]="false"
                              />
                              <label class="" for="fieldTested">После полевых испытаний</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="wellworn"
                                [checked]="false"
                              />
                              <label class="" for="wellworn">Поношенное</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="battleScarred"
                                [checked]="false"
                              />
                              <label class="" for="battleScarred">Закаленное в боях</label>
                            </li>
                        </ul>
                    </div>
                  }
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Цвет
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus" (click)="onChangedSubmenuList('color')">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                  @if (showSubmenuList$().includes('color')) {
                    <div class="skinColor">
                        <ul class="skinColor-list">
                            <li class="skinColor-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="colorRed"
                                [checked]="false"
                              />
                              <label class="colorName red" for="colorRed">Красный</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="colorBlue"
                                [checked]="false"
                              />
                              <label class="colorName blue" for="colorBlue">Синий</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="colorYellow"
                                [checked]="false"
                              />
                              <label class="colorName yellow" for="colorYellow">Желтый</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="colorGreen"
                                [checked]="false"
                              />
                              <label class="colorName green" for="colorGreen">Зеленый</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="colorPirple"
                                [checked]="false"
                              />
                              <label class="colorName pirple" for="colorPirple">Фиолетовый</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="colorGray"
                                [checked]="false"
                              />
                              <label class="colorName gray" for="colorGray">Серый</label>
                            </li>
                            <li class="skinType-list-item">
                                <input
                                mdbCheckbox
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="colorBrown"
                                [checked]="false"
                              />
                              <label class="colorName brown" for="colorBrown">Коричневый</label>
                            </li>
                        </ul>
                    </div>
                  }
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Float
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus" (click)="onChangedSubmenuList('float')">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                    @if (showSubmenuList$().includes('float')) {
                    <div class="skinFloat">
                        <form class="skinFloat-form">
                          <input type="text" class="skinFloat-input" placeholder="0.0000">
                        </form>
                        <div class="skinFloat-delimiter">
                        </div>
                        <form class="skinFloat-form">
                          <input type="text" class="skinFloat-input" placeholder="1">
                        </form>
                      </div>
                  }
                </div>
            </div>
            <div class="buy-page-button">
                <div class="buy-page-reset-button">
                    <button type="button" class="btn-reset">
                    <span class="btn-reset-text">
                        Сброс
                    </span>
                </button>
                </div>
            </div>
        </div>
    </div>
    <div class="buy-page-content">
        <div>
            <div class="content-header-container">
                <div class="spacer-container">
                    <div class="spacer-item" style="margin-right: 24px;">
                        <div class="refresh-button">
                            <button class="refresh-btn">
                                <i class="fas fa-redo"></i>
                            </button>
                        </div>
                    </div>
                    <div class="spacer-item">
                        <div>
                            <div class="spacer-container">
                                <div class="spacer-item" style="margin-right: 24px;">
                                    <div class="inventory-header-search">
                                        <div class="inventory-header-search-wrapper">
                                            <div class="csm-ui-wrapper">
                                                <div class="csm-ui-start-slot">
                                                    <span class="csm-search-icon">
                                                        <i class="fas fa-search"></i>
                                                    </span>
                                                </div>
                                                <input
                                                  placeholder="Поиск..."
                                                  autocomplete="off"
                                                  class="csm-ui-input"
                                                  [ngModel]="typehead$()"
                                                  (ngModelChange)="typehead$.set($event)"
                                                >
                                                <div class="csm-ui-end-slot">
                                                    <button class="clear-button-search" (click)="typehead$.set('')">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spacer-item">
                                    <div class="filter-dropdown-button">
                                        <div mdbDropdown #filterDropdownMenuButton class="dropdown">
                                          <button
                                            class="btn-dropdown-filter dropdown-toggle p-0"
                                            type="button"
                                            id="filterDropdownMenuButton"
                                            aria-expanded="false"
                                            mdbDropdownToggle
                                          >
                                          @if (sort$() === 'default') {
                                            По умолчанию
                                          }
                                          @if (sort$() === 'priceMax') {
                                            <i class="fas fa-sort-amount-down me-1"></i>
                                            Цена: Макс.
                                          }
                                          @if (sort$() === 'priceMin') {
                                            <i class="fas fa-sort-amount-up me-1"></i>
                                            Цена: Мин.
                                          }
                                          @if (sort$() === 'floatMax') {
                                            <i class="fas fa-sort-amount-down me-1"></i>
                                            Float: Макс.
                                          }
                                          @if (sort$() === 'floatMin') {
                                            <i class="fas fa-sort-amount-up me-1"></i>
                                            Float: Мин.
                                          }
                                          </button>
                                          <ul
                                            mdbDropdownMenu
                                            class="dropdown-menu"
                                            aria-labelledby="filterDropdownMenuButton"
                                          >
                                            <li>
                                                <a class="dropdown-item" href="#" (click)="setSort('default')">
                                                    По умолчанию
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" (click)="setSort('priceMax')">
                                                    <i class="fas fa-sort-amount-down me-1"></i>
                                                    Цена: Макс.
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" (click)="setSort('priceMin')">
                                                    <i class="fas fa-sort-amount-up me-1"></i>
                                                    Цена: Мин.
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" (click)="setSort('floatMax')">
                                                    <i class="fas fa-sort-amount-down me-1"></i>
                                                    Float: Макс.
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#" (click)="setSort('floatMin')">
                                                    <i class="fas fa-sort-amount-up me-1"></i>
                                                    Float: Мин.
                                                </a>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basket">
                    <button class="basket-btn">
                        <span class="basket-text">
                            $ 0
                        </span>
                        <i class="fas fa-shopping-basket icon-style" style="opacity: 80%;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="buy-page-body">
            <div class="sellOrders-wrapper">
                <div class="sellOrdersList-wrapper">
                    @for (itemCard of cardsList$(); track itemCard) {
                        <skin-item-card [card]="itemCard"></skin-item-card>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
