<div class="buy-page-main">
    <div class="buy-page-filters">
        <div class="buy-page-wrapper-filters">
            <div class="buy-page-wrapper-filters-title">
                <span class="filters-title">Фильтры</span>
            </div>
            <div class="horizontal-line"></div>
            <div class="buy-page-filters-inner">
                <div class="styles-wrapper">
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Сохр. фильтры
                                    </span>
                                </div>
                                <div class="count-filters">
                                    0
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Цена
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Тип
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Качество
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Цвет
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                    <div class="collapse-container">
                        <div class="collapse-container-header">
                            <div class="collapse-container-title-group">
                                <div class="media-queries-desktop">
                                    <span class="text-savedfilters">
                                        Float
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn-icon-plus">
                            <i class="fas fa-plus fa-xs icon-styles"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="buy-page-button">
                <div class="buy-page-reset-button">
                    <button type="button" class="btn-reset">
                    <span class="btn-reset-text">
                        Сброс
                    </span>
                </button>
                </div>
            </div>
        </div>
    </div>
    <div class="buy-page-content">
        <div>
            <div class="content-header-container">
                <div class="spacer-container">
                    <div class="spacer-item" style="margin-right: 24px;">
                        <div class="refresh-button">
                            <button class="refresh-btn">
                                <i class="fas fa-redo"></i>
                            </button>
                        </div>
                    </div>
                    <div class="spacer-item">
                        <div>
                            <div class="spacer-container">
                                <div class="spacer-item" style="margin-right: 24px;">
                                    <div class="inventory-header-search">
                                        <div class="inventory-header-search-wrapper">
                                            <div class="csm-ui-wrapper">
                                                <div class="csm-ui-start-slot">
                                                    <span class="csm-search-icon">
                                                        <i class="fas fa-search"></i>
                                                    </span>
                                                </div>
                                                <input placeholder="Поиск..." autocomplete="off" class="csm-ui-input">
                                                <div class="csm-ui-end-slot">
                                                    <button class="clear-button-search">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spacer-item">
                                    <div class="filter-dropdown-button">
                                        <div mdbDropdown #filterDropdownMenuButton class="dropdown">
                                          <button
                                            class="btn-dropdown-filter dropdown-toggle p-0"
                                            type="button"
                                            id="filterDropdownMenuButton"
                                            aria-expanded="false"
                                            mdbDropdownToggle
                                          >
                                          По умолчанию
                                          </button>
                                          <ul
                                            mdbDropdownMenu
                                            class="dropdown-menu"
                                            aria-labelledby="filterDropdownMenuButton"
                                          >
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    По умолчанию
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-sort-amount-down me-1"></i>
                                                    Цена: Макс.
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-sort-amount-up me-1"></i>
                                                    Цена: Мин.
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-sort-amount-down me-1"></i>
                                                    Float: Макс.
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fas fa-sort-amount-up me-1"></i>
                                                    Float: Мин.
                                                </a>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basket">
                    <button class="basket-btn">
                        <span class="basket-text">
                            Br 0
                        </span>
                        <i class="fas fa-shopping-cart icon-style" style="opacity: 80%;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="buy-page-body">
            <div class="sellOrders-wrapper">
                <div class="sellOrdersList-wrapper">
                  @for (itemCard of cards$(); track itemCard) {
                    <skin-item-card></skin-item-card>
                  }
                </div>
            </div>
        </div>
    </div>
</div>
