<div class="basket-page">
    <app-side-nav></app-side-nav>
    <div class="basket-body">
        <div class="basket-wrapper">
            <div class="basketList-wrapper">
                <!-- @for (itemCard of cardsList$(); track itemCard) {
                    <skin-item-card [card]="itemCard"></skin-item-card>
                } -->
                <div class="card-container">
                    <img class="card-image" loading="lazy">
                    <div class="baseCard-lower-part">
                      <div class="baseCard-description">
                          <span class="text-description">
                              FN / 
                          </span>
                      </div>
                      <div class="baseCard-price">
                          <div class="price">
                              <span class="styles-price">
                                  <span>
                                    $ 
                                  </span>
                              </span>
                          </div>
                      </div>
                      <div class="baseCard-action-button">
                          <button type="button" class="btn-basket">
                            Купить
                          </button>
                      </div>
                    </div>
                </div>
                <div class="card-container">
                    <img class="card-image" loading="lazy">
                    <div class="baseCard-lower-part">
                      <div class="baseCard-description">
                          <span class="text-description">
                              FN / 
                          </span>
                      </div>
                      <div class="baseCard-price">
                          <div class="price">
                              <span class="styles-price">
                                  <span>
                                    $ 
                                  </span>
                              </span>
                          </div>
                      </div>
                      <div class="baseCard-action-button">
                          <button type="button" class="btn-basket">
                            Купить
                          </button>
                      </div>
                    </div>
                </div>
                <div class="card-container">
                    <img class="card-image" loading="lazy">
                    <div class="baseCard-lower-part">
                      <div class="baseCard-description">
                          <span class="text-description">
                              FN / 
                          </span>
                      </div>
                      <div class="baseCard-price">
                          <div class="price">
                              <span class="styles-price">
                                  <span>
                                    $ 
                                  </span>
                              </span>
                          </div>
                      </div>
                      <div class="baseCard-action-button">
                          <button type="button" class="btn-basket">
                            Купить
                          </button>
                      </div>
                    </div>
                </div>
                <div class="card-container">
                    <img class="card-image" loading="lazy">
                    <div class="baseCard-lower-part">
                      <div class="baseCard-description">
                          <span class="text-description">
                              FN / 
                          </span>
                      </div>
                      <div class="baseCard-price">
                          <div class="price">
                              <span class="styles-price">
                                  <span>
                                    $ 
                                  </span>
                              </span>
                          </div>
                      </div>
                      <div class="baseCard-action-button">
                          <button type="button" class="btn-basket">
                            Купить
                          </button>
                      </div>
                    </div>
                </div>
                <div class="card-container">
                    <img class="card-image" loading="lazy">
                    <div class="baseCard-lower-part">
                      <div class="baseCard-description">
                          <span class="text-description">
                              FN / 
                          </span>
                      </div>
                      <div class="baseCard-price">
                          <div class="price">
                              <span class="styles-price">
                                  <span>
                                    $ 
                                  </span>
                              </span>
                          </div>
                      </div>
                      <div class="baseCard-action-button">
                          <button type="button" class="btn-basket">
                            Купить
                          </button>
                      </div>
                    </div>
                </div>
                <div class="card-container">
                    <img class="card-image" loading="lazy">
                    <div class="baseCard-lower-part">
                      <div class="baseCard-description">
                          <span class="text-description">
                              FN / 
                          </span>
                      </div>
                      <div class="baseCard-price">
                          <div class="price">
                              <span class="styles-price">
                                  <span>
                                    $ 
                                  </span>
                              </span>
                          </div>
                      </div>
                      <div class="baseCard-action-button">
                          <button type="button" class="btn-basket">
                            Купить
                          </button>
                      </div>
                    </div>
                </div>
                <div class="card-container">
                    <img class="card-image" loading="lazy">
                    <div class="baseCard-lower-part">
                      <div class="baseCard-description">
                          <span class="text-description">
                              FN / 
                          </span>
                      </div>
                      <div class="baseCard-price">
                          <div class="price">
                              <span class="styles-price">
                                  <span>
                                    $ 
                                  </span>
                              </span>
                          </div>
                      </div>
                      <div class="baseCard-action-button">
                          <button type="button" class="btn-basket">
                            Купить
                          </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
