<!-- Navbar -->
<nav class="navbar navbar-expand-lg p-0">
  <!-- Container wrapper -->
  <div class="header">
    <!-- Navbar brand -->
    <a class="navbar-brand ms-1" href="">
      <img
        src="assets/new_logo.png"
        height="44"
        width="122"
        alt="SkinHunt"
        loading="lazy"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="buttonsNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      #buttonsNav="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 ms-4 mb-lg-0">
        <li>
          <a class="nav-link" href="#">Market</a>
        </li>
      </ul>
      <!-- Left links -->
      <div class="language-dropdown-button me-4">
        <div mdbDropdown #dropdown class="dropdown">
          <button
            class="btn dropdown-toggle p-0"
            type="button"
            id="dropdownMenuButton"
            aria-expanded="false"
            mdbDropdownToggle
          >
          <i class="flag flag-united-states"></i>
          </button>
          <ul
            mdbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton"
          >
            <li>
              <i class="flag flag-russia"></i>
              <a class="dropdown-item" href="#">Русский</a>
            </li>
            <li>
              <i class="flag flag-united-states"></i>
              <a class="dropdown-item" href="#">English</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="currency-dropdown-button me-4">
        <div mdbDropdown #dropdown class="dropdown">
          <button
            class="btn dropdown-toggle p-0"
            type="button"
            id="dropdownMenuButton"
            aria-expanded="false"
            mdbDropdownToggle
          >
          $ USD
          </button>
          <ul
            mdbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton"
          >
            <li><a class="dropdown-item" href="#">$ USD</a></li>
            <li><a class="dropdown-item" href="#">₽ RUB</a></li>
            <li><a class="dropdown-item" href="#">€ EUR</a></li>
            <li><a class="dropdown-item" href="#">Br BYN</a></li>
          </ul>
        </div>
      </div>      
      <div class="d-flex align-items-center">
        <button type="button" class="button-styles me-2" (click)="openSignInModal()">
          <span class="email-styles">
            <img src="assets/email-icon.png" alt="email">
          </span>
          Войти через Email
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->