<div class="footer">
    <div class="footer-textbox">
        <h1 class="footer-text">Покупка скинов CS2</h1>
    </div>
    <div class="footer-social-links">
        <div class="footer-logo">
            <img src="assets/new_logo.png" 
                height="44"
                width="122"
                alt="SkinHunt"
                loading="lazy">
        </div>
        <div class="footer-links me-5">
            <a href="https://steamcommunity.com/profiles/76561199081957938" target="_blank">
                <i class="fab fa-steam-symbol fa-lg"></i>
            </a>
            <a href="https://vk.com/id523266771" target="_blank">
                <i class="fab fa-vk fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/fidachy0" target="_blank">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100027016427038" target="_blank">
                <i class="fab fa-facebook-f fa-lg"></i>
            </a>
        </div>
    </div>
</div>