.side-nav-styles{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-flow: column nowrap;
    gap: 20px;
    max-width: 80px;
    height: 100%;
    padding: 12px 8px;
    background: #1c1a24;
}

.MarketLogo{
    width: 100%;
}

.icon-style{
    width: 24px;
    height: 24px;
}

.side-nav-item{
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 4px;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    line-height: 20px;
    color: #555261;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    fill: #555261;
}

.side-nav-item:hover{
    color: #fff;
    fill: #fff;
    transition: 0.2s 
    cubic-bezier(0.4,0,0.2,1);
}

.side-nav-item-text{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.26px;
}

.border{
    height: 1px;
    width: 100%;
    background-color: rgb(255 255 255);
    opacity: 10%;
}

.active{
    color: #fff;
    fill: #fff;
}    