<div class="side-nav-styles">
    <div class="">
        <img src="assets/logo_market.png" class="MarketLogo" alt="Market">
    </div>
    <a class="side-nav-item active" href="#">
        <div>
            <i class="fas fa-shopping-cart icon-style"></i>
        </div>
        <span class="side-nav-item-text">
            Buy
        </span>
    </a>
    <a class="side-nav-item" href="#">
        <div>
            <i class="fas fa-poo-storm icon-style"></i>
        </div>
        <span class="side-nav-item-text">
            Instant sell
        </span>
    </a>
    <a class="side-nav-item" href="#">
        <div>
            <i class="fas fa-hand-holding-usd icon-style"></i>
        </div>
        <span class="side-nav-item-text">
            Sell
        </span>
    </a>
    <a class="side-nav-item" href="#">
        <div>
            <i class="fas fa-dollar-sign icon-style"></i>
        </div>
        <span class="side-nav-item-text">
            Cashout
        </span>
    </a>
    <a class="side-nav-item" href="#">
        <div>
            <i class="fas fa-history icon-style"></i>
        </div>
        <span class="side-nav-item-text">
            History
        </span>
    </a>
    <div class="border"></div>
</div>